* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1280px;
}

.bg-2 {
  margin-top: -200px;
}

.bg-3 {
  margin-top: -395px;
}

.bg-4 {
  margin-top: -350px;
}

.btn {
  box-shadow: 0 0 0 3em #b61984 inset;
  margin: 0 10px;
  padding: 10px 20px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 13.5px;
  font-weight: 500;
  background-color: #ffffff;
  color: #ffffff;
  transition: all .3s ease;
}

.btn:hover {
  color: #b61984;
  border: 1px solid #b61984;
  box-shadow: 0 0 0 0.1em #b61984 inset;
}

.card {
  border-radius: 10px;
  border: none;
  text-align: center;
  transition: all 0.5s;
}

.card .card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.card .card-image .card-img-top {
  transform: scale(1);
  transition: all 1.2s;
}

.card .card-image .card-img-top:hover {
  transform: scale(1.05);
}

.card .card-body {
  padding: 0 30px 30px;
}

.card .card-sub-title {
  color: #b61984;
  font-size: 11.25px;
  font-weight: 600;
  margin-top: 30px;
}

.card .card-title {
  color: #191919;
  font-size: 23.25px;
  font-weight: 700;
}

.card .card-text {
  color: #181818;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  font-family: "Roboto", sans-serif;
}

.card:hover {
  box-shadow: 0px 20px 20px #b6b6b6;
}

.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  transform: translateX(-120%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: transparent;
  transition: all 0.5s;
}

header.sticky {
  padding: 5px 100px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

header.sticky .navbar-brand img {
  display: none;
}

header nav {
  padding: 0;
}

header nav .navbar-brand img {
  width: 80px;
}

header nav .navbar-collapse .navbar-nav .nav-link {
  color: #181818;
  font-size: 13px;
  font-weight: 600;
  padding-right: 50px;
  align-self: center;
  transition: all 0.1s linear;
}

header nav .navbar-collapse .navbar-nav .nav-link:hover {
  color: #b61984;
}

header nav .icon {
  align-self: center;
}

header nav .icon a {
  font-size: 14.625px;
  color: #181818;
  margin-left: 5px;
  transition: all 0.2s linear;
}

header nav .icon a:hover {
  color: #b61984;
}

@media screen and (max-width: 1199.98px) {
  .sidebar-left {
    background: #ffffff;
    transition: 0.5s;
  }
  .sidebar-left .close {
    position: absolute;
    top: 0;
    left: 110%;
  }
  .sidebar-left .close span {
    font-size: 50px;
    font-weight: 100;
  }
  .sidebar-left .close span:hover {
    color: #b61984;
  }
  .sidebar-left .navbar {
    text-align: center;
  }
  .sidebar-left .navbar .navbar-logo {
    width: 100%;
    margin-bottom: 30px;
  }
  .sidebar-left .navbar .navbar-collapse .navbar-nav .nav-link {
    color: #181818;
    font-size: 13px;
    font-weight: 600;
    align-self: center;
    transition: all 0.1s linear;
  }
  .sidebar-left .navbar .navbar-collapse .navbar-nav .nav-link:hover {
    color: #b61984;
  }
  .sidebar-left .navbar .btn {
    margin: 20px 0 10px;
  }
  .sidebar-left .navbar .icon {
    align-self: center;
  }
  .sidebar-left .navbar .icon a {
    font-size: 14.625px;
    color: #181818;
    margin-left: 5px;
    transition: all 0.2s linear;
  }
  .sidebar-left .navbar .icon a:hover {
    color: #b61984;
  }
  .sidebar-left .navbar .navbar-collapse {
    display: block;
  }
  .sidebar-left .navbar .navbar-collapse .navbar-nav {
    width: 100%;
    height: 100%;
  }
  #main {
    transition: 0.5s;
  }
  #main header {
    background: #ffffff;
    height: 70px;
  }
  #main header.sticky {
    padding: 2px 0;
  }
  #main header.sticky .navbar-brand img {
    display: block;
  }
  #main header .navbar {
    justify-content: flex-start;
  }
  #main header .navbar .navbar-brand img {
    width: 50px;
    margin-left: 10px;
  }
}

.carousel {
  margin: -130px 0 20px;
}

.carousel .sub_title {
  color: #b61984;
  font-size: 16.5px;
  font-weight: 600;
  margin-bottom: 5px;
}

.carousel .title {
  color: #191919;
  font-size: 57px;
  font-weight: 700;
}

@media screen and (max-width: 1199.98px) {
  .carousel {
    margin: -100px 0 100px;
  }
  .carousel .title {
    color: #191919;
    font-size: 48px;
    font-weight: 700;
  }
}

@media screen and (max-width: 991.98px) {
  .carousel {
    margin: 10px 0 120px;
  }
  .carousel .sub_title {
    color: #b61984;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .carousel .title {
    color: #191919;
    font-size: 46px;
    font-weight: 700;
  }
}

@media screen and (max-width: 767.98px) {
  .carousel {
    margin: 30px 0 150px;
  }
}

@media screen and (max-width: 575.98px) {
  .carousel {
    margin: 30px 0 180px;
  }
  .carousel .title {
    color: #191919;
    font-size: 38px;
    font-weight: 700;
  }
}

.info {
  background: #dcd1f0;
}

.info .col-lg-3 {
  padding: 20px;
  z-index: 5;
}

@media screen and (max-width: 1199.98px) {
  .info .card-body {
    padding: 0 15px 30px;
  }
}

@media screen and (max-width: 991.98px) {
  .info .card-body {
    padding: 30px;
  }
  .info .card-body .card-sub-title {
    margin-top: 5px;
  }
}

@media screen and (max-width: 767.98px) {
  .info .card-text {
    line-height: 1.5em;
  }
}

@media screen and (max-width: 575.98px) {
  .info .card-text {
    font-size: 13px;
  }
}

.contact {
  margin-top: 100px;
}

.contact .img-contact img {
  width: 100%;
  height: 550px;
}

.contact form {
  background-color: white;
  box-shadow: 0 30px 30px -10px #00000033;
  padding: 40px 25px;
  border: none;
  border-radius: 20px;
}

.contact form .title-contact {
  color: #191919;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.contact form .form-control {
  padding: 0 35px;
  height: 40px;
  border-radius: 20px;
  font-size: 13px;
}

.contact form .form-control:focus {
  box-shadow: unset;
  border-color: #0000004d;
}

.contact form .text {
  height: 80px;
}

.contact form .form-icon {
  display: inline-block;
  font-size: 13px;
  transform: translate(15px, 30px);
  z-index: 1;
  color: #b61984;
}

.contact form .btn {
  margin: 50px 0 20px;
  padding: 15px 60px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (max-width: 1199.98px) {
  .contact {
    margin: 200px 0 70px;
  }
  .contact form .title-contact {
    color: #191919;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
  }
}

@media screen and (max-width: 991.98px) {
  .contact {
    margin: 300px 0 110px;
  }
  .contact .img-contact {
    width: 600px;
  }
  .contact .img-contact img {
    width: 100%;
    height: auto;
  }
  .contact form .title-contact {
    color: #191919;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }
}

@media screen and (max-width: 767.98px) {
  .contact {
    margin: 300px 0 160px;
  }
  .contact .img-contact {
    width: 550px;
  }
  .contact .img-contact img {
    width: 100%;
    height: auto;
  }
  .contact form .title-contact {
    color: #191919;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }
  .contact form .form-icon,
  .contact form .form-control,
  .contact form .btn {
    font-size: 11px;
  }
  .contact form .btn {
    margin: 50px 0 20px;
    padding: 15px 60px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
  }
}

@media screen and (max-width: 575.98px) {
  .contact {
    margin-top: 350px;
  }
  .contact .img-contact {
    width: 300px;
  }
  .contact .img-contact img {
    width: 100%;
    height: auto;
  }
  .contact form .form-icon,
  .contact form .form-control {
    font-size: 10px;
  }
  .contact form .btn {
    padding: 12px 20px;
    font-size: 10px;
  }
}

footer {
  background: url("/img/footer_background.jpg") center/cover no-repeat;
  width: 100%;
  height: 530px;
  color: #fff;
}

footer .col-lg-3 {
  margin-top: 100px;
}

footer .title-footer {
  color: #ffffff;
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 30px;
}

footer .footer-contact {
  font-family: "Roboto", sans-serif;
}

footer .footer-contact .icon-footer-contact {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

footer .footer-contact .icon-footer-contact i {
  font-size: 15px;
}

footer .footer-contact .txt-info {
  font-size: 13.5px;
}

footer .social-network {
  margin-top: 20px;
}

footer .social-network i {
  margin-right: 12px;
  transition: all 0.1s linear;
  cursor: pointer;
}

footer .social-network i:hover {
  color: #181818;
}

footer ul li {
  list-style: none;
  margin-bottom: 15px;
}

footer ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 13.5px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s;
}

footer ul li a:hover {
  opacity: 0.5;
  text-decoration: none;
  color: #ffffff;
}

footer .newsletter {
  width: 90%;
  margin-top: 90px;
}

footer .newsletter .txt-email input::placeholder {
  color: #ffffff;
}

footer .newsletter .txt-email input {
  text-align: center;
  background: transparent;
  color: #ffffff;
  border-radius: 50px;
  height: 50px;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

footer .newsletter .txt-email input:focus {
  border-color: white;
  box-shadow: none;
}

footer .newsletter .subscribe .btn {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  box-shadow: 0 0 0 3em #ffffff inset;
  background-color: #b61984;
  color: #181818;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

footer .newsletter .subscribe .btn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 0 0.1em #ffffff inset;
}

@media screen and (max-width: 991.98px) {
  footer {
    height: 900px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  footer {
    height: 850px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 575.98px) {
  footer {
    height: 1400px;
    padding-top: 70px;
  }
  footer .icon-footer-contact i,
  footer .txt-info {
    font-size: 12px;
  }
  footer ul li a {
    font-size: 12px;
  }
  footer .newsletter .subscribe .btn {
    font-size: 10px;
  }
}
/*# sourceMappingURL=main.css.map */