// Title
@mixin title($color, $fontSize, $fontWeight) {
	color: $color;
	font-size: $fontSize;
	font-weight: $fontWeight;
}

// Background
@mixin background($width, $height, $absolute, $top, $left) {
	width: $width;
	height: $height;
	position: $absolute;
	top: $top;
	left: $left;
}

// Responsive
@mixin responsive($screen) {
	@if (map-has-key($map: $breakpoints, $key: $screen)) {
		$value: map-get(
			$map: $breakpoints,
			$key: $screen
		);
		@media screen and (max-width: $value) {
			@content;
		}
	} @else {
		@warn "màn hình chưa khai báo";
	}
}
